<!--
        Purpose: Footer page's partial for ejs engine render
        Authors: McMaster Team
        Date: 2017-04-16
        Version: 1.0
 -->
       
        <div class="panel-footer">
            © Copyright McMaster Game | 2017
        </div>
    </div>
    <script src="/scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
