        <div class="panel-footer">
            © Copyright Game | 2017
        </div>
    </div>
    <script src="/scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
