<!--
        Purpose: Creation page for ejs engine render
        Authors: McMaster Team
        Date: 2017-04-16
        Version: 1.0
 -->

<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            
            <h4>Create new...</h4>

<!-- CHOOSE CREATION Start -->
<form>
  <div class="well carousel-search hidden-phone">   
  <div class="container">
  <button onClick="stakeholderFunction()" type="button" class="btn btn-primary">Stakeholder</button>
  <button onClick="questFunction()" type="button" class="btn btn-primary">Badge</button>
  <a class="btn btn-primary" href="/createquiz" role="button">  Create Quiz  </a>
</div>
  </div>
</form>
<!-- CHOOSE CREATION End -->

<!-- NEW STAKEHOLDER Start -->
<form style="display:none" id="newStakeholderForm" method="post" action="/newstakeholder">
  <h4>New Stakeholder</h4>
  <div class="form-group">
    <input class="form-control" id="stakeholderName" name="stakeholderName">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<!-- NEW STAKEHOLDER End -->

<!-- NEW QUEST Start -->
<form style="display:none" id="newQuestForm" method="post" action="/newquest">
  <h4>New Badge</h4>
  <div class="form-group">
    <input class="form-control" id="questName" name="questName">
  </div>
  <select name="stakeholders" class="form-control">
    <option value="NULL"> Select a Stakeholder </option>
    <% for (let count = 0; count < stakeholders.length; count++) { %>
      <option value="<%= stakeholders[count]._id %>"><%= stakeholders[count].name %></option>
    <% } %>
  </select>  
  </br></br>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<!-- NEW QUEST End -->

<script>
function stakeholderFunction() {
        let y = document.getElementById('newQuestForm');
      y.style.display = 'none';

  let x = document.getElementById('newStakeholderForm');
    if (x.style.display === 'none') {
        x.style.display = 'inline';
    } else {
        x.style.display = 'inline';
    }
}

function questFunction() {
        let x = document.getElementById('newStakeholderForm');
      x.style.display = 'none';

  let y = document.getElementById('newQuestForm');
    if (y.style.display === 'none') {
        y.style.display = 'inline';
    } else {
        y.style.display = 'inline';
    }
}

$(".dropdown-menu li a").click(function(){
  let selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  });
 </script>

<% include ../partials/footer.ejs %> 
