<!--
        Purpose: Main page for ejs engine render
        Authors: McMaster Team
        Date: 2017-04-16
        Version: 1.0
 -->

<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            
            <h4>Available Stakeholders</h4>

<!-- Stakeholder box Start -->
<form>
  <div class="well carousel-search hidden-phone">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-select" data-toggle="dropdown" href="#">Select a Stakeholder <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Patients</a></li>
        <li><a href="#">Vendors</a></li>
        <li><a href="#">Providers</a></li>
        <li class="divider"></li>
        <li><a href="#">Other</a></li>
      </ul>
      <span id="spanTest" style="display: none">
      <button type="button" id="btnTest" class="btn btn-primary">TEST</button>
      </span>
  </div>
  </div>
</form>
<!-- Stakeholder box End -->
          

<!-- PATIENT BADGES Start -->
<form style="display:none" id="patientBadgeForm">
  <h4>Select A Badge</h4>
  <div class="well carousel-search hidden-phone">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-select" data-toggle="dropdown" href="#">Select a Patient BADGE <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Empowerment</a></li>
        <li><a href="#">Safety</a></li>
        <li><a href="#">Journey</a></li>
        <li class="divider"></li>
        <li><a href="#">Other</a></li>
      </ul>
      <button type="button" id="btnTest" class="btn btn-primary">Start Patient Badge</button>

  </div>
  </div>
</form>
<!-- PATIENT BADGES End -->

<!-- VENDOR BADGES Start -->
<form style="display:none" id="vendorBadgeForm">
  <h4>Select A Badge</h4>
  <div class="well carousel-search hidden-phone">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-select" data-toggle="dropdown" href="#">Select a Vendor BADGE <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">User Interface</a></li>
        <li><a href="#">Mobile</a></li>
        <li><a href="#">Applications</a></li>
        <li class="divider"></li>
        <li><a href="#">Other</a></li>
      </ul>
      <button type="button" id="btnTest" class="btn btn-primary">Start Vendor Badge</button>

  </div>
  </div>
</form>
<!-- VENDOR BADGES End -->

<!-- PROVIDERS BADGES Start -->
<form style="display:none" id="providersBadgeForm">
  <h4>Select A Badge</h4>
  <div class="well carousel-search hidden-phone">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-select" data-toggle="dropdown" href="#">Select a provider BADGE <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Team Based Care</a></li>
        <li><a href="#">Clinical Workflow</a></li>
        <li><a href="#">Models of Care</a></li>
        <li class="divider"></li>
        <li><a href="#">Other</a></li>
      </ul>
      <button type="button" id="btnTest" class="btn btn-primary">Start provider Badge</button>

  </div>
  </div>
</form>
<!-- PROVIDERS BADGES End -->


</div>
</div>

<script>
 $(".dropdown-menu li a").click(function(){
  let selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  //badge element visible
  if(selText == "Patients")
  {
      let y = document.getElementById('vendorBadgeForm');
      y.style.display = 'none';

      let z = document.getElementById('providersBadgeForm');
      z.style.display = 'none';

  let x = document.getElementById('patientBadgeForm');
    if (x.style.display === 'none') {
        x.style.display = 'inline';
    } else {
        x.style.display = 'inline';
    }
  }

  //HANDLE VENDOR FORM
  if (selText == "Vendors")
  {
     let x = document.getElementById('patientBadgeForm');
      x.style.display = 'none';

      let z = document.getElementById('providersBadgeForm');
      z.style.display = 'none';

      let y = document.getElementById('vendorBadgeForm');
    if (y.style.display === 'none') {
        y.style.display = 'inline';
    } else {
        y.style.display = 'inline';
    }
  }

  //HANDLE PROVIDERS FORM
  if (selText == "Providers")
  {
     let x = document.getElementById('patientBadgeForm');
      x.style.display = 'none';

      let z = document.getElementById('vendorBadgeForm');
      z.style.display = 'none';

      let y = document.getElementById('providersBadgeForm');
    if (y.style.display === 'none') {
        y.style.display = 'inline';
    } else {
        y.style.display = 'inline';
    }
  }
});

</script>

<% include ../partials/footer.ejs %> 