<% include ../partials/header.ejs %>
        
  <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3><center>Leader Board </center></h3>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">Rank</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Number of Badges</th>
                  <th class="text-center">Score</th>
                </tr>
                <% for (let count = 0; count < stakeholders.length; count++) { %>
                  <tr>
                    <td class="text-center">Stakeholders</td>
                    <td class="text-center"><%= stakeholders[count].name %></td>
                    <td class="text-center">
                      <% for (let bcount = 0; bcount < stakeholders[count].badges_ids.length; bcount++) { %>
                        <%= stakeholders[count].badges_ids[bcount] %>
                      <% } %>
                    </td>
                    <td class="text-center">Score</td>
                  </tr>
                <% } %>

                <% for (let count = 0; count < quest.length; count++) { %>
                  <tr>
                    <td class="text-center">Quests</td>
                    <td class="text-center"><%= quest[count].name %></td>
                    <td class="text-center">Number of Badges</td>
                    <td class="text-center">Score</td>
                  </tr>
                <% } %>
              </thead>               
            </table> 
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>


<% include ../partials/footer.ejs %> 