<!--
        Purpose: Leaderboard page for ejs engine render
        Authors: McMaster Team
        Date: 2017-04-16
        Version: 1.0
 -->

<% include ../partials/header.ejs %>
        
  <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3><center>Leader Board </center></h3>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">Rank</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Name of Badges/ Stakeholders</th>
                  <th class="text-center">Score</th>
                </tr>
              </thead>
              <tbody>
              <% for (let count = 0; count < leaders.length; count++) { %>
                  <tr>
                    <td> <%= count+1 %></td>
                    <td> <%=leaders[count].username %>  </td>
                    <td> <%=leaders[count].assignedBadge %>, <%=leaders[count].assignedStakeholder %> </td>
                    <td> </td>
                  </tr>
                <% } %>
              </tbody>               
            </table> 
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>


<% include ../partials/footer.ejs %> 