<!--
        Purpose: Profile page for ejs engine render
        Authors: McMaster Team
        Date: 2017-04-16
        Version: 1.0
 -->

<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            
            <h4>Earned Badges</h4>

<!-- Stakeholder box Start -->
<form>
  <div class="well carousel-search hidden-phone">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-select" data-toggle="dropdown" href="#">Select a Stakeholder <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Guideline Implementors</a></li>
        <li><a href="#">Organizations</a></li>
        <li><a href="#">Patients</a></li>
        <li><a href="#">Providers</a></li>
        <li><a href="#">Researchers & Academics</a></li>
        <li><a href="#">System Managers</a></li>
        <li><a href="#">Technology Implementers</a></li>
        <li><a href="#">Vendors</a></li>
      </ul>
      <span id="spanTest" style="display: none">
      <button type="button" id="btnTest" class="btn btn-primary">TEST</button>
      </span>
  </div>
  </div>
</form>
<!-- Stakeholder box End -->

<!-- GUIDELINE IMPLEMENTORS BADGES Start -->
<form style="display:none" id="guidelineBadgeForm">
  <div class="well carousel-search hidden-phone">
    <p>guideline</p>
    <p>(Show all badges connected to the stake holder. Color in badges
        that user has earned and grey out the badges that they haven't earned')
    </p>
  </div>
</form>
<!-- GUIDELINE IMPLEMENTORS BADGES End -->

<!-- ORGANIZATIONS BADGES Start -->
<form style="display:none" id="organizationBadgeForm">
  <div class="well carousel-search hidden-phone">
    <p>organizations</p>
    <p>(Show all badges connected to the stake holder. Color in badges
        that user has earned and grey out the badges that they haven't earned')
    </p>
  </div>
</form>
<!-- ORGANIZATIONS BADGES End -->


<!-- PATIENT BADGES Start -->
<form style="display:none" id="patientBadgeForm">
  <div class="well carousel-search hidden-phone">
    <p>patient</p>
    <p>(Show all badges connected to the stake holder. Color in badges
        that user has earned and grey out the badges that they haven't earned')
    </p>
  </div>
</form>
<!-- PATIENT BADGES End -->

<!-- PROVIDERS BADGES Start -->
<form style="display:none" id="providersBadgeForm">
  <div class="well carousel-search hidden-phone">
    <p>provider</p>
    <p>(Show all badges connected to the stake holder. Color in badges
        that user has earned and grey out the badges that they haven't earned')
    </p>
  </div>
</form>
<!-- PROVIDERS BADGES End -->

<!-- RESEARCHERS BADGES Start -->
<form style="display:none" id="researchBadgeForm">
  <div class="well carousel-search hidden-phone">
    <p>researcher</p>
    <p>(Show all badges connected to the stake holder. Color in badges
        that user has earned and grey out the badges that they haven't earned')
    </p>
  </div>
</form>
<!-- RESEARCHERS BADGES End -->

<!-- SYSTEM MANAGERS BADGES Start -->
<form style="display:none" id="systemBadgeForm">
  <div class="well carousel-search hidden-phone">
    <p>system</p>
    <p>(Show all badges connected to the stake holder. Color in badges
        that user has earned and grey out the badges that they haven't earned')
    </p>
  </div>
</form>
<!-- SYSTEM MANAGERS BADGES End -->

<!-- TECHNOLOGY BADGES Start -->
<form style="display:none" id="technologyBadgeForm">
  <div class="well carousel-search hidden-phone">
    <p>technology</p>
    <p>(Show all badges connected to the stake holder. Color in badges
        that user has earned and grey out the badges that they haven't earned')
    </p>
  </div>
</form>
<!-- TECHNOLOGY BADGES End -->

<!-- VENDOR BADGES Start -->
<form style="display:none" id="vendorBadgeForm">
  <div class="well carousel-search hidden-phone">
    <p>vendor</p>
    <p>(Show all badges connected to the stake holder. Color in badges
        that user has earned and grey out the badges that they haven't earned')
    </p>
  </div>
</form>
<!-- VENDOR BADGES End -->
</div>
</div>

<script>
 $(".dropdown-menu li a").click(function(){
  let selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  //badge element visible
  
   //HANDLE GUIDELINE FORM
  if (selText == "Guideline Implementors")
  {
     let a = document.getElementById('organizationBadgeForm');
      a.style.display = 'none';

      let b = document.getElementById('patientBadgeForm');
      b.style.display = 'none';

      let c = document.getElementById('providersBadgeForm');
      c.style.display = 'none';

      let d = document.getElementById('researchBadgeForm');
      d.style.display = 'none';

      let e = document.getElementById('systemBadgeForm');
      e.style.display = 'none';

      let f = document.getElementById('technologyBadgeForm');
      f.style.display = 'none';

      let g = document.getElementById('vendorBadgeForm');
      g.style.display = 'none';

      let h = document.getElementById('guidelineBadgeForm');
    if (h.style.display === 'none') {
        h.style.display = 'inline';
    } else {
        h.style.display = 'inline';
    }
  }

   //HANDLE ORGANIZATION FORM
  if (selText == "Organizations")
  {
     let a = document.getElementById('guidelineBadgeForm');
      a.style.display = 'none';

      let b = document.getElementById('patientBadgeForm');
      b.style.display = 'none';

      let c = document.getElementById('providersBadgeForm');
      c.style.display = 'none';

      let d = document.getElementById('researchBadgeForm');
      d.style.display = 'none';

      let e = document.getElementById('systemBadgeForm');
      e.style.display = 'none';

      let f = document.getElementById('technologyBadgeForm');
      f.style.display = 'none';

      let g = document.getElementById('vendorBadgeForm');
      g.style.display = 'none';

      let h = document.getElementById('organizationBadgeForm');
    if (h.style.display === 'none') {
        h.style.display = 'inline';
    } else {
        h.style.display = 'inline';
    }
  }

   //HANDLE PROVIDERS FORM
  if(selText == "Providers")
  {
      let a = document.getElementById('guidelineBadgeForm');
      a.style.display = 'none';

      let b = document.getElementById('organizationBadgeForm');
      b.style.display = 'none';

      let c = document.getElementById('patientBadgeForm');
      c.style.display = 'none';

      let d = document.getElementById('researchBadgeForm');
      d.style.display = 'none';

      let e = document.getElementById('systemBadgeForm');
      e.style.display = 'none';

      let f = document.getElementById('technologyBadgeForm');
      f.style.display = 'none';

      let g = document.getElementById('vendorBadgeForm');
      g.style.display = 'none';

  let h = document.getElementById('providersBadgeForm');
    if (h.style.display === 'none') {
        h.style.display = 'inline';
    } else {
        h.style.display = 'inline';
    }
  }

  //HANDLE PATIENT FORM
  if(selText == "Patients")
  {
      let a = document.getElementById('guidelineBadgeForm');
      a.style.display = 'none';

      let b = document.getElementById('organizationBadgeForm');
      b.style.display = 'none';

      let c = document.getElementById('providersBadgeForm');
      c.style.display = 'none';

      let d = document.getElementById('researchBadgeForm');
      d.style.display = 'none';

      let e = document.getElementById('systemBadgeForm');
      e.style.display = 'none';

      let f = document.getElementById('technologyBadgeForm');
      f.style.display = 'none';

      let g = document.getElementById('vendorBadgeForm');
      g.style.display = 'none';

  let h = document.getElementById('patientBadgeForm');
    if (h.style.display === 'none') {
        h.style.display = 'inline';
    } else {
        h.style.display = 'inline';
    }
  }

   //HANDLE RESEARCH FORM
  if(selText == "Researchers & Academics")
  {
      let a = document.getElementById('guidelineBadgeForm');
      a.style.display = 'none';

      let b = document.getElementById('organizationBadgeForm');
      b.style.display = 'none';

      let c = document.getElementById('patientBadgeForm');
      c.style.display = 'none';

      let d = document.getElementById('providersBadgeForm');
      d.style.display = 'none';

      let e = document.getElementById('systemBadgeForm');
      e.style.display = 'none';

      let f = document.getElementById('technologyBadgeForm');
      f.style.display = 'none';

      let g = document.getElementById('vendorBadgeForm');
      g.style.display = 'none';

  let h = document.getElementById('researchBadgeForm');
    if (h.style.display === 'none') {
        h.style.display = 'inline';
    } else {
        h.style.display = 'inline';
    }
  }

    //HANDLE SYSTEM FORM
  if(selText == "System Managers")
  {
      let a = document.getElementById('guidelineBadgeForm');
      a.style.display = 'none';

      let b = document.getElementById('organizationBadgeForm');
      b.style.display = 'none';

      let c = document.getElementById('patientBadgeForm');
      c.style.display = 'none';

      let d = document.getElementById('providersBadgeForm');
      d.style.display = 'none';

      let e = document.getElementById('researchBadgeForm');
      e.style.display = 'none';

      let f = document.getElementById('technologyBadgeForm');
      f.style.display = 'none';

      let g = document.getElementById('vendorBadgeForm');
      g.style.display = 'none';

  let h = document.getElementById('systemBadgeForm');
    if (h.style.display === 'none') {
        h.style.display = 'inline';
    } else {
        h.style.display = 'inline';
    }
  }

      //HANDLE TECHNOLOGY FORM
  if(selText == "Technology Implementers")
  {
      let a = document.getElementById('guidelineBadgeForm');
      a.style.display = 'none';

      let b = document.getElementById('organizationBadgeForm');
      b.style.display = 'none';

      let c = document.getElementById('patientBadgeForm');
      c.style.display = 'none';

      let d = document.getElementById('providersBadgeForm');
      d.style.display = 'none';

      let e = document.getElementById('researchBadgeForm');
      e.style.display = 'none';

      let f = document.getElementById('systemBadgeForm');
      f.style.display = 'none';

      let g = document.getElementById('vendorBadgeForm');
      g.style.display = 'none';

  let h = document.getElementById('technologyBadgeForm');
    if (h.style.display === 'none') {
        h.style.display = 'inline';
    } else {
        h.style.display = 'inline';
    }
  }

  //HANDLE VENDOR FORM
  if (selText == "Vendors")
  {
      let a = document.getElementById('guidelineBadgeForm');
      a.style.display = 'none';

      let b = document.getElementById('organizationBadgeForm');
      b.style.display = 'none';

      let c = document.getElementById('patientBadgeForm');
      c.style.display = 'none';

      let d = document.getElementById('providersBadgeForm');
      d.style.display = 'none';

      let e = document.getElementById('researchBadgeForm');
      e.style.display = 'none';

      let f = document.getElementById('systemBadgeForm');
      f.style.display = 'none';

      let g = document.getElementById('technologyBadgeForm');
      g.style.display = 'none';

  let h = document.getElementById('vendorBadgeForm');
    if (h.style.display === 'none') {
        h.style.display = 'inline';
    } else {
        h.style.display = 'inline';
    }
  }

});

</script>

<% include ../partials/footer.ejs %> 
